*{
  font-family: 'Space Mono', monospace;
}
.Container404{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 70px;
  height: 70vh;
}
.Error404text{
  font-weight: 700;
  font-size: 24px;
  margin-top: 2vh;
  margin-left: 2vw;
}
.Error404title{
  font-size: 64px;
  font-weight: 700;
  width: 568px;
}
.Error404paragraph{
  font-weight: 400;
  max-width: 381px; 
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;
}
.Error404button{
  width: 216px;
  max-height: 68px;
  background-color: #333333;
  color: white;
  font-weight: 700;
  font-size: 14px;
}
.Error404scarecrow{
  width: 540px;
}
@media screen and (max-width:756px) {
  .Container404{
    flex-direction: column;
    margin-top: 15vh;
    justify-content: center;
  }
  .Error404text{
    font-size: 24px;
  }
  .Error404title{
    font-size: 48px;
    width: 100vw;
    line-height: 71px;
    letter-spacing: -0.035em;
  }
  .Error404paragraph{
    font-size: 18px;
    width: 328px;
  }
  .Error404scarecrow{
    width: 100vw;
  }
}